        <meta charset="utf-8">
        <script async defer data-domain="ollie.fitness" src="https://plausible.io/js/plausible.js"></script>
        <title>{{page.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/app.css">
        <link rel="stylesheet" href="/assets/typeography.css">
       
        <meta property="og:title" content="{{page.title}}">
        <meta property="og:description" content="{{page.description}}">

        <meta property="title" content="{{page.title}}">
        <meta name="description" content="{{page.description}}">

        <meta property="og:type" content="website">
        <meta property="og:image" content="https://www.ollie.fitness/assets/img/ollie-background.png">
        <meta property="og:url" content="https://www.ollie.fitness{{ page.permalink }}">
