        <meta charset="utf-8">
        <script async defer data-domain="ollie.fitness" src="https://plausible.io/js/plausible.js"></script>
        <title>{{page.title}}</title>
        <link rel="icon"  type="image/png" href="https://ollie.fitness/assets/img/myicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/app.css">
       
        <meta property="og:title" content="{{page.title}}">
        <meta property="og:description" content="{{page.description}}">

        <meta property="title" content="{{page.title}}">
        <meta name="description" content="{{page.description}}">

        <meta property="og:type" content="website">
        <meta property="og:image" content="https://ollie.fitness/assets/img/ollie-background-share.png">
        <meta property="og:url" content="https:/ollie.fitness{{ page.permalink }}">

        <meta name="twitter:card" content="https://ollie.fitness/assets/img/ollie-background-share.png">
        <meta property="og:site_name" content="ollie.fitness">
        <meta name="twitter:image:alt" content="Gym_Background_Image">