<section id="services">
    <div class="wide-container">
        <h2>Services</h2>
        <div class="packages">
        <div class="package">
            <div class="package-heading">
                <h3>
                    4 Week<br>

                    Online Coaching Program
                </h3> 
                <p class="price"><span>£95<span class="stroke"></span></span></p>
                <p class="price"><span>£50</span></p>
              

            </div>

            <p class="description">A tailor made 4 week online programme based
                on your personal fitness goals. After Developing a programme
                that works around your lifestyle. Each week you have 
                the option to have a friendly chat with Ollie
                to touch base with how your getting on with the programme.
            </p>
           

            <ul>
                <li>4 Week Online Programme</li>
                <li>1 Video Call Check-in a Week</li>
                <li>Taliored to your personal goals</li>
                <li>Adaptable to your needs</li>
            </ul>

        </div>
        <div class="package">
            <div class="package-heading">
                <h3>
                    4 Week<br>
                    1-2-1 Online Personal Training
                </h3> 
                <p class="price"><span>£120<span class="stroke"></span></span></p>
                <p class="price"><span>£80</span></p>
              

            </div>

            <p class="description">
                Due to Covid-19
            </p>

            <ul>
                <li>A 1-2-1 session each week</li>
                <li>Reasonable price working out at £20 a Session</li>
                <li>Includes a personal 4 week online coaching programme</li>
                <li>Taliored to your personal goals</li>
                <li>Adaptable to your needs</li>
            </ul>

        </div>

        <div class="package">
            <div class="package-heading">
                <h3>
                    Group Sessions (price pp)
                </h3>
                <p class="price"><span>£18<span class="stroke"></span></span></p>
                <p class="price"><span>£15</span></p>
            

            </div>

            <p class="description">
                Due to Covid-19 Group Sessions are only aviable as a voucher
                at this time.             </p>

            <ul>
                <li>Ideal for groups of 2 to 5 people</li>
                <li>Public parks or private outdoor locations in the Maidstone Area.</li>
                <li>HIIT Sessions</li>
            </ul>

        </div>

        <div class="package four">
            <div class="package-heading">
                <h3>
                    1-2-1 Personal Training
                </h3> 

                    <div><h3 class="float">1 Session</h3>
                    <p class="price"><span>£36<span class="stroke"></span></span></p>
                    <p class="price"><span>£28</span></p>
                    </div>
                    <div> <h3 class="float">10 Sessions</h3>
                        <p class="price"><span>£18<span class="stroke"></span></span></p>
                        <p class="price"><span>£28</span></p>
                      </div>
                   
                 </div>

            <p class="description">
                Due to Covid-19 Group Sessions are only aviable as a voucher
                at this time.             </p>

            <ul>
                <li>Ideal for groups of 2 to 5 people</li>
                <li>Public parks or private outdoor locations in the Maidstone Area.</li>
                <li>HIIT Sessions</li>
            </ul>

        </div>
    </div>
    </div>
</section>