<section id="services">
    <div class="wide-container">
        <h2>Services</h2>
        <div class="packages">
        <div class="package">
            <div class="package-heading">
           
                <h3>
                    4 Week<br>

                    Online Coaching Program
                </h3> 
                <p class="price"><span>£95<span class="stroke"></span></span></p>
                <p class="price"><span>£50</span></p>
              

            </div>

            <p class="description">A tailor made 4 week online programme based
                on your personal fitness goals. Whether your goal is to lose weight,
                 gain muscle or maintain your fitness. Ollie can develop a programme
                that works around your lifestyle. Each week you have 
                the option to have a friendly chat with Ollie
                to discuss how your getting on with the programme.
            </p>
           

            <ul>
                <li>A consultation to develop your personal programme</li>
                <li>1 Video Call Check-in a Week</li>
                <li>Taliored programme suited to your goals</li>
                <li>Flexible and Adaptable to your needs</li>
            </ul>

        </div>
        <div class="package">
            <div class="package-heading">
               
                <h3>
                    4 Week<br>
                    1-2-1 Online Personal Training
                </h3> 
                <p class="price"><span>£200<span class="stroke"></span></span></p>
                <p class="price"><span>£140</span></p>
              

            </div>

            <p class="description">
                Join Ollie for 1-2-1 personal training sessions online.
                Once a week over 4 Weeks Ollie will structure a 
                series of personal workouts via Facetime or Whatsapp video chat.
            
            </p>

            <ul>
                <li>A consultation to develop your personal programme</li>
                <li>A 1-2-1 Online Personal training session each week</li>
                <li>1 Video Call Check-in a Week</li>
                <li>Includes 4 week online coaching programme</li>
                <li>Workouts with or without gym equipment</li>
            </ul>

        </div>

        <div class="package three">
            <div class="package-heading">
                
                <h3>
                    Group Sessions (price pp)
                </h3>
                <p class="price"><span>£15<span class="stroke"></span></span></p>
                <p class="price"><span>£10</span></p>
            

            </div>

            <p class="description">
                Looking to workout with friends or family, Ollies group sessions
                are ideal for people wanting to get outside and get active.
                Workouts can be organised to be taken at public parks or a private outdoor location in 
                the Maidstone area.
                </p>
              
            <ul>
                <li>Ideal for groups of 2 to 5 people</li>
                <li>Public parks / Private outdoor locations in the Maidstone</li>
                <li>Great from mixed ability groups</li>
                <li>Get motivated together</li>
            </ul>

        </div>

        <div class="package four">
            <div class="package-heading">
               
                <h3>
                    1-2-1 Personal Training
                </h3> 

                    <div><h3 class="float">1 Session</h3>
                    <p class="price"><span>£36<span class="stroke"></span></span></p>
                    <p class="price"><span>£28</span></p>
                    </div>
                    <div> <h3 class="float">10 Sessions</h3>
                        <p class="price"><span>£326<span class="stroke"></span></span></p>
                        <p class="price short"><span>£280</span></p>
                      </div>
                   
                 </div>

            <p class="description">
                
                What better way to get motivated than having taliored 1-2-1 Sessions with Ollie
                in person. Available as individual sessions or booked as part of of 10 session programme.
                Training with Ollie will push you to a new level in becoming your best.
                Currently sessions are only available at outdoor locations in Maidstone.
                
                         </p>

            <ul>
                <li>A consultation to understand your goals</li>
                <li>Access to Expert advise from Ollie</li>
                <li>Public parks / Private outdoor locations in the Maidstone</li>
                <li>Bespoke workouts for newcomers to professional athletes</li>
            </ul>

        </div>
    </div>
    </div>
</section>