<section id="testimonial-section">
    <div class="wide-container">
        <h2>Testimonials</h2>
        <div class="testimonials">

        <!-- <div class="testimonial">
            <h3>Olivia</h3>
            <p>“ I’m in the early stages of PT with Ollie but having seen his interaction with other clients in the gym, 
                followed up by a reccomendation from a friend,I reached out for sessions. Ollie’s knowledge and enthusiasm 
                sets him apart from other PT’s. I am enjoying learning new exercises and being pushed to my limits".</p>
            </div> -->
        <div class="testimonial">
        <h3>Harry</h3>
        <p>“ Having a PT that not only knows everything there is to taking me to the next level physically in my career.
             But also has the man management and proffessionalism to coincide is the sole reason why Ollie is the only PT 
             i fully trust in making me the best verison of myself”.</p>
        </div>

        <div class="testimonial">
            <h3>Maxine</h3>
            <p>“ I’m in the early stages of PT with Ollie but having seen his interaction with other clients in the gym, 
                followed up by a reccomendation from a friend,I reached out for sessions. Ollie’s knowledge and enthusiasm 
                sets him apart from other PT’s. I am enjoying learning new exercises and being pushed to my limits".</p>
            </div>

            <!-- <div class="testimonial">
                <h3>Ryan</h3>
                <p>“ I’m in the early stages of PT with Ollie but having seen his interaction with other clients in the gym, 
                    followed up by a reccomendation from a friend,I reached out for sessions. Ollie’s knowledge and enthusiasm 
                    sets him apart from other PT’s. I am enjoying learning new exercises and being pushed to my limits".</p>
                </div> -->

        <div class="testimonial">
            <h3>Ruben</h3>
            <p>“I started training with Ollie during my off season from football in June. 
             He Created a personal four week plan for me to ensure I went back to my team in pre-season in the best way possible.</p>
             <p>He tailored the programme to my needs. Ollie’s great at working around your goals, listening to you and putting your thoughts into action.
                We spoke about what I wanted to achieve in the four weeks. A lot of it for me was working on my upper and lower body power and core work.</p>
             <p>Performing more football specific exercises, he would also put me through intense cardio whether it be on the treadmill or wattbike
           to maintain my body fat and fitness.</p>

           <p>I also learnt a lot from Ollie, he’s got an immense knowledge and passon for fitness.</p>
           <p>He could tell me the best ways to reccovand training methods I could do outside the gym for myself at home and when I returned to football, 
           for gaining strength and endurance as well as the power we worked on.</p>

           <p>Ollie is very funny, interesting and down to earth guy. He is not only your trainer but also someone you can trust and call a friend. 
               I couldn’t recommend him enough!</p>
           
           <p>I’ve already booked my sessions for the next off season training.”</p>
            </div>
        </div>
    </div>
</section>