
@font-face {
    font-family: 'League Gothic';
    src: url('/fonts/leaguegothic-italic-webfont.eot');
    src: url('/fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/leaguegothic-italic-webfont.woff2') format('woff2'),
         url('/fonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('/fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('/fonts/leaguegothic-italic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}
